<% subnavsort.forEach((item,index) => { %> 
    <% if (item.subnavContent && item.subnavContent.length > 0) { %>
    <li class="cate-<%=index %>"> 
        <i>&gt;</i>
        <a href="javascript:;" target="_blank"><strong><%=item.subnavName %></strong></a>                                                                    
        <%= tmplFn({"list": item.child, "tmplFn": tmplFn, id:id }) %>    
    </li> 
    <% } %>
<% }); %> 