<div>
    <dl> 
        <dt>
            <a href="javascript:;" target="_blank"> 
                <%- tmplFn ({"list": item.child, "tmplFn": tmplFn})%>
            </a>
        </dt> 
    </dl>                                 
</div>