
<style>/*---footer底部信息-----*/
#footerBox {width:100%;min-width:1200px;padding:40px 0;background:#1b1b1b;margin-top:20px; clear:both;}
#footerBox .footer {width:1200px;margin:0 auto;}
.footer .footerTop {height:auto;overflow:hidden;padding-bottom:40px;color:#a0a0a0;}
.footerTop a {color:#a0a0a0;}
.footerTop .gfNavItem {margin-right:100px;display:inline-block;line-height:26px;vertical-align:top;*float:left;}
.footerTop .gfNavItem.gfLt {margin-right:80px;}
.footerTop .gfNavItem.about {margin-right:0;}
.footerTop .gfLt .logo {display:block;width:156px;height:60px;}
.footerTop .gfLt .tel {font-size:20px;padding-top:20px;color:#fff;}
.footerTop .gfLt .tel .iconfont {font-size:16px;margin-right:8px;color:#a0a0a0;}
.footerTop .gfLt .date {color:#6e6e6e;}
.gfNavItem .gfNavTitle {width:130px;font-size:16px;color:#ddd;font-weight:normal;border-bottom:1px #2f2f2f solid;padding-bottom:12px;margin-bottom:8px;}
.gfNavItem .gfNavLink {display:block;}
.footer .fonterCode {float:right;padding:0 0 10px 75px;line-height:26px;border-left:1px #2f2f2f solid;}
.fonterCode .mobileTitle {font-size:16px;color:#ddd;font-weight:normal;}
.fonterCode .codeBox {height:auto;overflow:hidden;margin-right:-30px;padding-top:12px;}
.fonterCode .codeBox dl {width:76px;float:left;display:inline;margin-right:30px; text-align:center} 
.fonterCode .codeBox dl dd { margin:0;}
.fonterCode .codeBox dl dt {text-align:center;padding-top:3px;}
.footer .fonterInfo {text-align:center;color:#6e6e6e;line-height:36px;}
.footerSortLine {height:1px;background:#292929;margin-bottom:5px;}
.footerSort {padding-bottom:5px;}
.footerSort a {color:#6e6e6e;padding:0px 12px;border-right:none;}
.footerSort a:hover,.footerTop a:hover {color:#e02445;}
.footerSort a:last-child {border-right:none;}
.fonterInfo .footNav {height:24px;line-height:24px;padding-top: 6px}
.fonterInfo .footNav a,.fonterInfo .telTime a,.footCopyright .telTime a {color:#6e6e6e;margin:0 12px;}
.fonterInfo .footNav span.otherFoot .telTime span {font-size:12px;}
.fonterInfo .footNav a.footIco,.fonterInfo .telTime a.footIco {margin:0 0 0 15px}
.fonterInfo .footNav a:hover,.otherFoot .telTime a:hover {color:#e02445}
.fonterInfo .bianHao {color:#999;}
.fonterInfo .beiAn {color:#424242;margin-left: 3px;}
.footer .fonterInfo.otherFoot {text-align:center;border-top:none;padding-top:0;color:#6e6e6e;line-height:36px;}
.otherFoot .footerSort {border-bottom:1px #292929 solid;padding-bottom:15px;margin-bottom:10px;}
.otherFoot .telTime {height:24px;line-height:24px;padding:8px 0 6px;}
</style>
<div id="footerBox">
    <div class="footer">
            <div class="footerTop">
                <div class="gfNavItem gfLt">
                        <img src="/images/logo_footer.png" width="156" height="60">
                    <p class="tel"><b>0579-82465723</b></p>
                    <p class="date">周一至周五 9:00-18:00 </p>
                </div>
                <div class="gfNavItem">
                    <h4 class="gfNavTitle">新手指南</h4>
                    <ul>
                        <li><a href="javascript:;" target="_blank" rel="nofollow">免费注册</a></li>
                        <li><a href="javascript:;" target="_blank">采购商入门</a></li>
                        <li><a href="javascript:;" target="_blank" rel="nofollow">供应商入门</a></li>
                        <li><a href="javascript:;" target="_blank" rel="nofollow">找回密码</a></li>
                    </ul>
                </div>
                <div class="gfNavItem">
                    <h4 class="gfNavTitle">辅料圈服务</h4>
                    <ul>
                       <li><a href="javascript:;" target="_blank" rel="nofollow">商铺装修</a></li>
                       <li><a href="#" target="_blank" rel="nofollow">标王</a></li>
                       <li><a href="javascript:;" target="_blank" rel="nofollow">套餐版本</a></li>
                    </ul>
                </div>
                <div class="gfNavItem">
                    <h4 class="gfNavTitle">关于我们</h4>
                    <ul>
                       <li><a href="javascript:;" target="_blank">公司介绍</a></li>
                       <li><a href="javascript:;" target="_blank">联系我们</a></li>
                       <li><a href="javascript:;" target="_blank">网站导航</a></li>
                       <li><a href="#" target="_blank">支付方式</a></li>
                    </ul>
                </div>
                <div class="fonterCode">
                    <h4 class="mobileTitle">移动站</h4> 
                    <div class="codeBox">
                        <dl>
                            <dd>
                                <img src="/images/mqrcode.png" width="68" height="68"></dd>
                            <dt>手机站</dt>
                        </dl>
                        <dl>
                            <dd>
                                <img src="/images/wxqrcode.png" width="68" height="68"></dd>    
                            <dt>微信</dt>
                        </dl>
                    </div>
                </div>
            </div>
        <ul class="fonterInfo">
                <li class="footerSortLine"></li>
                <li class="footNav">
                    <a href="javascript:;">网站首页</a>|
                    <a href="javascript:;">关于我们</a> &nbsp;|&nbsp; 
                    <a href="javascript:;">关注美服</a> &nbsp;|&nbsp; 
                    <a href="javascript:;">使用协议</a> &nbsp;|&nbsp; 
                    <a href="javascript:;">平台规则</a> &nbsp;|&nbsp; 
                    <a href="javascript:;">网站地图</a>|
                    <a href="javascript:;">排名推广</a>|
                    <a href="javascript:;">广告服务</a>|
                    <a href="javascript:;">积分换礼</a>|
                    <a href="javascript:;">网站留言</a>|
                    <a href="javascript:;">RSS订阅</a>| 
                    <a href="javascript:SendReport();">违规举报</a>
                </li>
                <li class="footCopyright">Copyright 2008-2018 辅料圈&nbsp;&nbsp;保留所有权利&nbsp;&nbsp;&nbsp;&nbsp;通信管理局备案：
                <span class="bianHao">|<a href="javascript:;">闽ICP备18020316号-1</a></span></li>
          
        </ul>
    </div>
</div>
<div class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script> 

// come from common.js  
// 返回顶部 
$(function(){
	$(window).bind("scroll.back2top", function(e) { 
		var st = $(document).scrollTop(), winh = $(window).height();
        (st > 0) ? $('.back2top').show() : $('.back2top').hide();        
        if(!window.XMLHttpRequest) { $('.back2top').css("top", st + winh - 166); }//IE6                                                                                     
	});
	$('.back2top').click(function() {
		$('html, body').animate({scrollTop:0}, 200);    
	});
});
</script>
</body>
</html> 