<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<title> <%=title %></title>
<meta name="keywords" content="辅料圈,辅料,服装辅料加工,服装辅料吊牌,服装辅料市场,服装辅料公司,服装辅料有限公司,服装辅料设计"/> 
<meta name="description" content="辅料圈【www.fuliaoquan.com】提供服装辅料行业的供应批发、服装辅料加工,服装辅料市场,服装辅料公司,服装辅料有限公司,服装辅料设计等资讯，引导和帮助企业开展电子商务和互联网品牌营销"/>   
<link rel="bookmark" type="image/x-icon" href="https://b.fuliaoquan.com/u/theme/images/favico.ico">                                         
<link rel="shortcut icon" href="https://b.fuliaoquan.com/u/theme/images/favico.ico" /> 
<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/index1.css"/> 
<script type="text/javascript">window.onerror=function(){return true;}</script>                                                     
<script type="text/javascript" src="/javascripts/config.js"></script> 
<!--[if lte IE 9]><!-->
<script type="text/javascript" src="/javascripts/jquery-1.5.2.min.js"></script>          
<!--<![endif]--> 
<!--[if (gte IE 10)|!(IE)]><!-->
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>                                                                            
<!--<![endif]-->                        
<script type="text/javascript" src="/javascripts/common.js"></script>              
</head>
<body>
    <div class="headtop" id="head">
        <div class="headtop_m">         
            <div class="headtop_r"> 
                <a href="https://www.fuliaoquan.com/about">联系我们</a>                                                   
            </div>
            <div class="headtop_l">
                <ul> 
                    <li class="h_collect"><script type="text/javascript">addFav('收藏本页');</script></li>                               
                    <li class="h_mobile"><a href="javascript:Dmobile();">手机版</a></li>
                    <li class="h_qrcode"><a href="javascript:Dqrcode();">二维码</a></li>                
                </ul>
            </div>
        </div>
    </div>
    <div class="mod headtop_s" id="Destin_space"></div>
    <div class="mod"><div id="search_tips" style="display:none;"></div></div>  
    <div id="Destin_qrcode" style="display:none;"></div> 
    <div class="mod"></div>
    <div class="mod">
        <div class="websitelogo fl">
            <a href="javascript:;"><img src="/images/1131556_03.jpg" alt="辅料圈"/></a> 
        </div>
        <form id="Destin_search" action="" onSubmit="return Dsearch(1);">    
            <input type="hidden" name="moduleid" value="16" id="Destin_moduleid"/> 
            <input type="hidden" name="spread" value="0" id="Destin_spread"/>  
            <div class="headtop_search">    
                <div style="font-size: 19px;font-weight: 600;">500万服装辅料人的交流圈</div>
            </div>
        </form> 
    </div>